# Logs
logs
*.log

# Use PNPM
yarn-debug.log*
yarn-error.log*
npm-debug.log*
npm-error.log*

yarn.lock
package-lock.json

node_modules
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

.next
next-env.d.ts

tsconfig.tsbuildinfo