.date {
    font-weight: 300;
    font-size: 2rem;
}

.time {
    display: flex;
    font-weight: 100;
    font-size: 5rem;
    margin-top: -0.75rem;
}

.seconds {
    color: rgb(146, 146, 146);
    font-size: 1.75rem;
    width: 2.5rem;
    margin-top: 1rem;
}

.abbreviation {
    color: rgb(146, 146, 146);
    font-size: 1.75rem;
}
