.root {
  display: flex;
}

.imageDiv {
  width: 150px;
  overflow: hidden;
  display: inline-block;
}

.image {
  width: 150px;
  opacity: 0.5;
}

.title {
  font-size: 0.85rem;
  font-weight: 100;
  margin-left: 0.5rem;
}

.source {
  font-size: 0.75rem;
  font-weight: 100;
}
