.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.daysUntil {
  font-size: 3rem;
  font-weight: 700;
}

.daysUntilText {
  font-size: 1.5rem;
  font-weight: 400;
}
