.root {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.25rem;
}

.hr {
  color: white;
  font-weight: bold;
  opacity: 0.25;
  width: 250px;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.todo {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 100;
}

.bullet {
  margin-right: 0.25rem;
  font-size: 0.75rem;
}
