html,
body,
#root {
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.module-layout {
  margin-top: -5.5rem;
  margin-left: 7rem;
  rotate: 90deg;
  height: 1000px;
  width: 810px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'dt dt dt we we we'
    'dt dt dt fo fo fo'
    '.  .  .  .  mo mo'
    'oo oo oo oo oo oo'
    'co co co co co co'
    '.  .  .  .  .  . '
    '.  .  .  .  .  cr';
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.grid-item {
  min-height: 100px;
}

.debug {
  grid-area: de;
}

.blank {
  grid-area: oo;
  height: 150px;
}

.date-time {
  grid-area: dt;
}

.weather {
  grid-area: we;
}

.forecast {
  grid-area: fo;
}

.todo {
  grid-area: td;
}

.crypto {
  grid-area: cr;
}

.moon {
  grid-area: mo;
}

.compliments {
  grid-area: co;
}
