html,
body,
#root {
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.module-layout {
  margin-top: -6rem;
  margin-left: 4rem;
  rotate: 90deg;
  height: 1000px;
  width: 800px;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'dt dt .  we we we'
    'dt dt .  fo fo fo'
    '.  .  de de mo mo'
    'oo oo oo oo oo oo'
    'co co co co co co'
    'td td .  .  .  cr '
    'td td .  .  .  cr';
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.debug {
  grid-area: de;
}

.blank {
  grid-area: oo;
  height: 250px;
}

.date-time {
  grid-area: dt;
}

.weather {
  grid-area: we;
}

.forecast {
  grid-area: fo;
}

.todo {
  grid-area: td;
}

.crypto {
  grid-area: cr;
}

.moon {
  grid-area: mo;
}

.compliments {
  grid-area: co;
}
