.root {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1.25fr;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherInfo {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.imageDiv {
  width: 85px;
  height: 85px;
  overflow: hidden;
  display: inline-block;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.degree {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
}

.current {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4rem;
}

.description {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  overflow-wrap: break-word;
  text-align: center;
}

.today {
  display: flex;
  gap: 0.75rem;
  font-size: 1.5rem;
}

.high {
  text-align: center;
  flex: 1;
}

.low {
  flex: 1;
  text-align: center;
  color: darkgray;
}
