.price {
  flex: 1;
}

.data {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconContainer {
  flex: 0.5;
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.icon {
  height: 30px;
  width: 30px;
}
